<div class="mainContent">
  <div class="ingredientContainer">
    <h2>Create ingredient</h2>
    <div class="row1">
      <div class="nameContainer">
        <h3>Name</h3>
        <input type="text" name="ingredient-name" [(ngModel)]=ingredient.name>
      </div>
      <div class="typeContainer">
        <h3>Type</h3>
        <select name="ingredient-type" [(ngModel)]=ingredient.type>
          <option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</option>
        </select>
      </div>
      <div class="priceContainer">
        <h3>Price</h3>
        <input type="number" [(ngModel)] ="ingredient.price">
      </div>
    </div>
    <div class="row2">
      <div class="descContainer">
        <h3>Description</h3>
        <textarea type="text" name="ingredient-description" placeholder={{ingredient.description}}
          [(ngModel)]=ingredient.description rows="7"></textarea>
      </div>
    </div>
    <div class="row3">
      <div class="veggie">
        <h3>Vegetarian</h3>
        <input class="checkbox" name="ingredient-vegetarian" type="checkbox" [(ngModel)]=ingredient.vegetarian>
      </div>
      <div class="vegan">
        <h3>Vegan</h3>
        <input class="checkbox" name="ingredient-vegan" type="checkbox" [(ngModel)]=ingredient.vegan>
      </div>
    </div>
    <div class="bottomButtons">
      <i class="far fa-save button" (click)="saveIngredient(ingredient)"></i>
      <i class="fas fa-window-close button" id=deleteIcon (click)="goBack()"></i>
    </div>
  </div>
</div>