/*Titles*/
h2 {
  font-size: 2rem;
}

div.mainContent h3 {
  font-size: 1.5rem;
}

div.mainContent h4 {
  font-size: 1.2rem;
}

/*Ingredient*/
.ingredientDetailContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.row1, .row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 0.15rem var(--secondaryColor) dashed;
  padding-bottom: 0.5rem;
}
.nameContainer, div.veggie {
  flex: 3;
}

.typeContainer, div.vegan {
  flex: 2;
}
.checkbox{
  margin: 1rem;
  transform: scale(2);
}
.nameContainer h3,
.typeContainer h3,
.descContainer h3,
.priceContainer h3 {
  margin-bottom: 1rem;
}
.priceContainer{
  padding-right: 3rem;
}
/*Bottom Buttons*/
.bottomButtons{
  display: flex;
  justify-content: space-around;
}
.bottomButtons i{
  padding: 1rem 3rem ;
  font-size: 3rem;
}