<div class="ingredientEditForm">
  <label for="ingredient-name">Name</label>
  <input type="text" name="ingredient-name" [(ngModel)]=ingredient.name>
  <label for="ingredient-type">Type</label>
  <select name="ingredient-type" [(ngModel)] = ingredient.type>
    <option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</option>
  </select>
  <label for="ingredient-description">Description</label>
  <input type="text" name="ingredient-description" [(ngModel)]=ingredient.description>
  <label for="ingredient-vegetarian">Vegetarian</label>
  <input name ="ingredient-vegan" type="checkbox" [(ngModel)] = ingredient.vegetarian>
  <label for="ingredient-vegan">Vegan</label>
  <input name ="ingredient-vegan" type="checkbox" [(ngModel)] = ingredient.vegan>
  <button (click)="saveIngredient(ingredient)">Save</button>
  <button (click)="goBack()">Cancel</button>
</div>