<div class="mainContent">
  <div class="header">
    <h2 class="ListTitle">Recipes</h2>
    <i *ngIf="boxView"  (click)="changeView()" class="fa-solid fa-rectangle-list button"></i>
    <i *ngIf="!boxView" (click)="changeView()" class="fa-solid fa-table-cells button"></i>
    <i class="fas fa-plus-square button" id="addIcon" (click)=goToAdd()> Add</i>

  </div>
  <table class="recipes" *ngIf="recipes != undefined && recipes.length > 0 && !boxView">
    <tr id="header">
      <td>ID</td>
      <td>Name</td>
      <td>Ingredients</td>
      <td>Steps</td>
      <td>Vegetarian</td>
      <td>Vegan</td>
      <td>Delete</td>
    </tr>
    <tr class="recipe" *ngFor="let recipe of recipes" (click)="goToDetail(recipe.id)">
      <td>{{recipe.id}}</td>
      <td>{{recipe.name}}</td>
      <td>{{getNumberOfIngredients(recipe.id)}}</td>
      <td>{{getNumberOfSteps(recipe.id)}}</td>
      <td>
        <i class="fa-solid fa-check" *ngIf="getItsVegeterianVegan(recipe.ingredients)[0]" title="Vegan"></i>
        <i class="fa-solid fa-xmark" *ngIf="!getItsVegeterianVegan(recipe.ingredients)[0]" title="Vegan"></i>
      </td>
      <td>
        <i class="fa-solid fa-check" *ngIf="getItsVegeterianVegan(recipe.ingredients)[1]" title="Vegetarian"></i>
        <i class="fa-solid fa-xmark" *ngIf="!getItsVegeterianVegan(recipe.ingredients)[1]" title="Vegetarian"></i>
      </td>
      <td>
        <i class="fa-solid fa-trash" id="deleteIcon" (click)="deleteRecipe(recipe.id)"></i>
      </td>
    </tr>
  </table>
  <div class="boxView" *ngIf="boxView">
    <div class="recipeContainer" *ngFor=" let recipe of recipes" (click)="goToDetail(recipe.id)">
      <div class="boxHeader">
        <h2 class="recipeName">{{recipe.name}}</h2>
        <div class="veggieVegan">
          <i class="fa-solid fa-leaf" *ngIf="getItsVegeterianVegan(recipe.ingredients)[1]" id="veganIcon"
            title="Vegan"></i>
          <i class="fa-solid fa-leaf"
            *ngIf="getItsVegeterianVegan(recipe.ingredients)[0] && !getItsVegeterianVegan(recipe.ingredients)[1]"
            id="veggieIcon" title="Vegetarian"></i>
        </div>
      </div>
      <p>{{recipe.description}}</p>
      <div class="bottom">
        <p class="difficulty">Level : {{recipe.difficulty}}</p>
        <p class="price">Price {{recipe.price}}€</p>
      </div>
    </div>
  </div>
</div>