/*Ingredients*/
h2.ListTitle{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
/*Search Bar*/
div.searchBar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
div.searchBar input.bar{
  flex: 5;
}
/*tables*/
table.recipes {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid var(--secondaryColor);
  width: 100%;
}
tr#header{
  background-color: var(--secondaryColor);
  font-weight: bold;
}
table.recipes tr:nth-child(even) {
  background-color: var(--tableColor);
}

table.recipes tr.recipe:hover {
  background-color: var(--tableHightLightColor);
  cursor: pointer;
}

table.recipes td {
  padding: 0.5rem;
  border: none;
}
/*Box View*/
div.boxView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

div.boxView div.recipeContainer {
  background-color: var(--contentBackgroundColor);
  border: 0.1rem, solid, var(--secondaryColor);
  flex:25%;
  flex-grow: 1;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

div.boxView div.recipeContainer * {
  padding: 0.2rem;
}

div.boxView div.recipeContainer:hover {
  border: 0.1rem solid greenyellow;
  cursor: pointer;
}

div.boxView div.recipeContainer h2.recipeName {
  font-size: 2rem;
}