<div class="mainContent">
  <h2 class="ListTitle">Ingredients</h2>
  <button (click)="goToAdd()">Add</button>
  <div class="searchBar">
    <input class="bar" type="text" (keyup.enter)="filterBy(filter.value)" #filter>
    <button (click)="filterBy(filter.value)">Search</button>
    <button (click)="clearFilter()">Clear</button>
  </div>
  <table class="ingredients">
    <tr id="header">
      <td>ID</td>
      <td>Name</td>
      <td>Type</td>
      <td>Vegetarian</td>
      <td>Vegan</td>
      <td>Delete</td>
    </tr>
    <tr *ngFor=" let ingredient of ingredientsFiltered" class="ingredient" (click)="goToDetail(ingredient.id)">
      <td>{{ingredient.id}}</td>
      <td>{{ingredient.name}}</td>
      <td>{{getType(ingredient.type)}}</td>
      <td>{{ingredient.vegetarian}}</td>
      <td>{{ingredient.vegan}}</td>
      <td><i class="fa-solid fa-trash" id ="deleteIcon"(click)=deleteIngredient(ingredient.id)></i></td>
    </tr>
  </table>
</div>