<div class="mainContent">
  <div class="header">
    <h2 class="ListTitle">Ingredients</h2>
    <i class="fas fa-plus-square button" id ="addIcon" (click)=goToAdd()> Add</i>
  </div>
  <div class="searchBar">
    <input class="bar" type="text" (keyup.enter)="filterBy(filter.value)" #filter>
    <i class="fas fa-search button" (click)="filterBy(filter.value)"></i>
    <i class="fas fa-eraser button" (click)="clearFilter(filter)"></i>
  </div>
  <table class="ingredients">
    <tr id="header">
      <td>ID</td>
      <td>Name</td>
      <td>Type</td>
      <td>Vegetarian</td>
      <td>Vegan</td>
      <td>Delete</td>
    </tr>
    <tr *ngFor=" let ingredient of ingredientsFiltered" class="ingredient" (click)="goToDetail(ingredient.id)">
      <td>{{ingredient.id}}</td>
      <td>{{ingredient.name}}</td>
      <td>{{getType(ingredient.type)}}</td>
      <td>
        <i class="fa-solid fa-check"
        *ngIf="ingredient.vegetarian" 
        title="Vegan"></i>
        <i class="fa-solid fa-xmark"
        *ngIf="!ingredient.vegetarian" 
        title="Vegan"></i>
      </td>
      <td>
        <i class="fa-solid fa-check"
        *ngIf="ingredient.vegan" 
        title="Vegan"></i>
        <i class="fa-solid fa-xmark"
        *ngIf="!ingredient.vegan" 
        title="Vegan"></i>
      </td>
      <td><i class="fa-solid fa-trash button" id ="deleteIcon"(click)=deleteIngredient(ingredient.id)></i></td>
    </tr>
  </table>
</div>