/*Ingredients*/
h2.ListTitle{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
/*tables*/
table.ingredients tr.ingredient:hover {
  background-color: var(--tableHightLightColor);
  cursor: pointer;
}

table.ingredients td {
  padding: 0.5rem;
  border: none;
}