<div class="recipeAddContainer">
  <h2>Add recipe</h2>
  <label for="recipeName">Name:</label><br>
  <input type="text" name="recipeName" [(ngModel)]="recipe.name"><br>
  <label for="recipeDesc">Description</label><br>
  <textarea name="recipeDesc" [(ngModel)]=recipe.description></textarea>
  <!--Ingredients-->
  <div class="ingredientsContainer" *ngIf="ingredientsRecipe != undefined">
    <h3 class="ingredientsTitle">Ingredients</h3>
    <table class="ingredients">
      <tr id="header">
        <td>Name</td>
        <td>Type</td>
        <td>Vegetarian</td>
        <td>Vegan</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Delete</td>
      </tr>
      <tr *ngFor=" let ingredient of ingredientsRecipe" class="ingredient">
        <td>{{ingredient.name}}</td>
        <td>{{getType(ingredient.type)}}</td>
        <td>{{ingredient.vegetarian}}</td>
        <td>{{ingredient.vegan}}</td>
        <td>{{ingredient.price}}</td>
        <td>
          <input type="number" value="{{getRecipeIngredientQuantity(ingredient.id)}}"
            (focusout)="addIngredientQuantity(ingredient.id,quant.value)" #quant>
          <span> {{ingredient.measure}}</span>
        </td>
        <td><i class="fa-solid fa-trash" id="deleteIcon" (click)="deleteIngredient(ingredient.id)"></i></td>
      </tr>
    </table>
    <input type="text" #filter>
    <button (click)="filterBy(filter.value)">Search</button>
    <button (click)="clearFilter()">Clear</button>
    <table class="ingredients">
      <tr id="header">
        <td>Name</td>
        <td>Type</td>
        <td>Vegetarian</td>
        <td>Vegan</td>
        <td>Add</td>
      </tr>
      <tr *ngFor=" let ingredient of ingredientsFiltered" class="ingredient">
        <td>{{ingredient.name}}</td>
        <td>{{getType(ingredient.type)}}</td>
        <td>{{ingredient.vegetarian}}</td>
        <td>{{ingredient.vegan}}</td>
        <td><i class="fas fa-plus-square" id="addIcon" (click)="addIngredient(ingredient.id)"></i></td>
      </tr>
    </table>
  </div>
  <!--Steps-->
  <div class="stepsContainer">
    <h3>Steps</h3>
    <div class="stepsContainer" *ngFor="let step of recipe.steps">
      <label for="steptitle">Tittle</label><br>
      <input type="text" name="stepTitle" [(ngModel)]=step.title><br>
      <label for="stepBody">Body</label><br>
      <textarea name="stepBody" [(ngModel)]=step.body></textarea>
      <button (click)="deleteStep(step.id)">Delete</button>
    </div>
    <button (click)="addStepToRecipe()">Add step</button>
  </div>
  <button (click)="saveRecipe()">Save</button>
  <button (click)="goBack()">Cancel</button>
</div>