/*Titles*/
button.editRecipe {
  margin-left: 3rem;
}

div.mainContent h3 {
  font-size: 1.5rem;
}

div.mainContent h4 {
  font-size: 1.2rem;
}

/*Ingredients */

div.ingredientsContainer h3.ingredientsTitle {
  border-top: 0.15rem dashed var(--tableHightLightColor);
}

div.ingredientsContainer ul {
  padding-left: 2rem;
  list-style-type: '- ';
  min-width: fit-content;
  max-width: 25%;
}

div.ingredientsContainer ul li {
  padding: 0.25rem;
  margin: 0.15rem;
}

div.ingredientsContainer ul li:hover {
  border-radius: 0.5rem;
  background-color: var(--tableHightLightColor);
  color: white;
  cursor: pointer;
}

/*Steps*/
div.stepsContainer h3.stepsTitle {
  border-top: 0.15rem dashed var(--tableHightLightColor);
}

p.stepBody {
  padding: 0.5rem;
}

div.stepsContainer ol.stepsList {
  padding-left: 2rem;
}
/*ingredient Vegan icons*/
div.ingredientsContainer i#veggieIcon,
div.ingredientsContainer i#veganIcon {
  padding: 0.25rem;
  font-size: 1rem;
}

/*Edit Recipe*/
/*Ingredients*/
/*tables*/
table.ingredients td {
  padding: 0.5rem;
  border: none;
}