<div class="mainContent" *ngIf=" recipe != undefined && !edit">
  <div class="header">
    <h2 class="recipeName">{{recipe.name}}</h2>
    <h2>{{recipe.price}}€</h2>
    <div class="veggieVegan">
      <i class="fa-solid fa-leaf" *ngIf="getItsVegeterianVegan(recipe.ingredients)[1]" id="veganIcon" title="Vegan"></i>
      <i class="fa-solid fa-leaf"
        *ngIf="getItsVegeterianVegan(recipe.ingredients)[0] && !getItsVegeterianVegan(recipe.ingredients)[1]"
        id="veggieIcon" title="Vegetarian"></i>
    </div>
    <div class="detailButtons">
      <i class="fas fa-edit button" (click)="changeEdit()" id="editIcon" *ngIf="!edit"></i>
      <i class="fa-solid fa-trash button" id="deleteIcon" (click)=deleteRecipe(recipe.id)></i>
    </div>

  </div>
  <p>{{recipe.description}}</p>
  <!--Ingredients-->
  <div class="ingredientsContainer" *ngIf="ingredientsRecipe != undefined">
    <h3 class="ingredientsTitle">Ingredients</h3>
    <ul *ngFor="let ingredient of ingredientsRecipe">
      <li (click)="goToIngredient(ingredient.id)">
        {{ingredient.name}}
        <span>{{getRecipeIngredientQuantity(ingredient.id)}} {{ingredient.measure}}</span>
        <span> {{getCost(getRecipeIngredientQuantity(ingredient.id), ingredient.price)}} € </span>
        <span>
          <i class="fa-solid fa-leaf" *ngIf="ingredient.vegan" id="veganIcon" title="Vegan"> </i>
          <i class="fa-solid fa-leaf" *ngIf="ingredient.vegetarian && !ingredient.vegan" id="veggieIcon"
            title="Vegetarian"> </i>
        </span>
      </li>
    </ul>
  </div>
  <!--Steps-->
  <div class="stepsContainer">
    <h3 class="stepsTitle">Steps</h3>
    <ol class="stepsList">
      <li *ngFor="let step of recipe.steps">
        <h4>{{step.title}}</h4>
        <p class="stepBody">{{step.body}}</p>
      </li>
    </ol>
  </div>

</div>
<!--Edit Recipe -->
<div class="mainContent" *ngIf="edit">
  <h2 class="recipeName">Recipe: {{recipeToEdit.name}}</h2>
  <label for="recipeName">Name:</label><br>
  <input type="text" name="recipeName" [(ngModel)]="recipeToEdit.name"><br>
  <label for="recipeDesc">Description</label><br>
  <textarea name="recipeDesc" rows="7" placeholder={{recipeToEdit.description}}
    [(ngModel)]=recipeToEdit.description></textarea>
  <div class="ingredientsContainer" *ngIf="ingredientsRecipe != undefined">
    <h3 class="ingredientsTitle">Ingredients</h3>
    <table class="ingredients">
      <tr id="header">
        <td>Name</td>
        <td>Type</td>
        <td>Vegetarian</td>
        <td>Vegan</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Total</td>
        <td>Delete</td>
      </tr>
      <tr *ngFor=" let ingredient of ingredientsRecipe" class="ingredient">
        <td>{{ingredient.name}}</td>
        <td>{{getType(ingredient.type)}}</td>
        <td>
          <i class="fa-solid fa-check"
          *ngIf="ingredient.vegetarian" 
          title="Vegan"></i>
          <i class="fa-solid fa-xmark"
          *ngIf="!ingredient.vegetarian" 
          title="Vegan"></i>
        </td>
        <td>
          <i class="fa-solid fa-check"
          *ngIf="ingredient.vegan" 
          title="Vegan"></i>
          <i class="fa-solid fa-xmark"
          *ngIf="!ingredient.vegan" 
          title="Vegan"></i>
        </td>
        <td>{{ingredient.price}}</td>
        <td>
          <input type="number" value="{{getRecipeToEditIngredientQuantity(ingredient.id)}}"
            (focusout)="addIngredientQuantity(ingredient.id,quant.value)" #quant>
          <span> {{ingredient.measure}}</span>
        </td>
        <td>{{ingredient.price * getRecipeToEditIngredientQuantity(ingredient.id)}}</td>
        <td><i class="fa-solid fa-trash button" id="deleteIcon" (click)="deleteIngredient(ingredient.id)"></i></td>
      </tr>
      <tr id="header">
        <td colspan="6">Total</td>
        <td colspan = "2"> {{recipeToEdit.price}}€</td>
      </tr>
    </table>
    <div class="searchBar">
      <input class="bar" type="text" (keyup.enter)="filterBy(filter.value)" #filter>
      <i class="fas fa-search button" (click)="filterBy(filter.value)"></i>
      <i class="fas fa-eraser button" (click)="clearFilter()"></i>
    </div>

    <table class="ingredients">
      <tr id="header">
        <td>Name</td>
        <td>Type</td>
        <td>Vegetarian</td>
        <td>Vegan</td>
        <td>Add</td>
      </tr>
      <tr *ngFor=" let ingredient of ingredientsFiltered" class="ingredient">
        <td>{{ingredient.name}}</td>
        <td>{{getType(ingredient.type)}}</td>
        <td>
          <i class="fa-solid fa-check"
          *ngIf="ingredient.vegetarian" 
          title="Vegan"></i>
          <i class="fa-solid fa-xmark"
          *ngIf="!ingredient.vegetarian" 
          title="Vegan"></i>
        </td>
        <td>
          <i class="fa-solid fa-check"
          *ngIf="ingredient.vegan" 
          title="Vegan"></i>
          <i class="fa-solid fa-xmark"
          *ngIf="!ingredient.vegan" 
          title="Vegan"></i>
        </td>
        <td><i class="fas fa-plus-square button" id="addIcon" (click)="addIngredient(ingredient.id)"></i></td>
      </tr>
    </table>
  </div>
  <!--Steps-->
  <div class="stepsContainer">
    <h3 class="stepsTitle">Steps</h3>
    <div class="stepsContainer" *ngFor="let step of recipeToEdit.steps">
      <label for="steptitle">Tittle</label><br>
      <input type="text" name="stepTitle" [(ngModel)]=step.title><br>
      <label for="stepBody">Body</label><br>
      <textarea name="stepBody" [(ngModel)]=step.body rows="7"></textarea>
      <button (click)="deleteStep(step.id)">Delete</button>
    </div>
    <button (click)="addStepToRecipe()">Add step</button>
  </div>
  <button (click)="saveRecipe()">Save</button>
  <button (click)="changeEdit()">Cancel</button>
</div>