/*Titles*/
button.editRecipe {
  margin-left: 3rem;
}

div.mainContent h3 {
  font-size: 1.5rem;
}

div.mainContent h4 {
  font-size: 1.2rem;
}

/*Ingredients */

div.ingredientsContainer h3.ingredientsTitle {
  border-top: 0.15rem dashed var(--tableHightLightColor);
}

div.ingredientsContainer ul {
  padding-left: 2rem;
  list-style-type: '- ';
  min-width: fit-content;
  max-width: 25%;
}

div.ingredientsContainer ul li {
  padding: 0.25rem;
  margin: 0.15rem;
}

div.ingredientsContainer ul li:hover {
  border-radius: 0.5rem;
  background-color: var(--tableHightLightColor);
  color: white;
  cursor: pointer;
}

/*Steps*/
div.stepsContainer{
  margin-bottom: 2rem;
  border-bottom: 0.15rem dashed var(--tableHightLightColor);
  padding: 1rem;
}

div.stepsContainer h3.stepsTitle {
  border-top: 0.15rem dashed var(--tableHightLightColor);
}
div.stepContainer{
  border: 0.25rem solid var(--tableHightLightColor);
  padding: 0.25rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

p.stepBody {
  padding: 0.5rem;
}

div.stepsContainer ol.stepsList {
  padding-left: 2rem;
}
div.stepHeader{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
div.stepsContainer i#addIcon{
  font-size: 1.5rem;
  padding: 0.5rem 50%;
  width: 100%;
}
/*ingredient Vegan icons*/
div.ingredientsContainer i#veggieIcon,
div.ingredientsContainer i#veganIcon {
  padding: 0.25rem;
  font-size: 1rem;
}

/*Edit Recipe*/
/*Ingredients*/
/*tables*/
table.ingredients td {
  padding: 0.5rem;
  border: none;
}
/*Bottom Buttons*/
.bottomButtons{
  display: flex;
  justify-content: space-around;
}
.bottomButtons i{
  padding: 1rem 3rem ;
  font-size: 3rem;
}