<div class="mainContent" *ngIf=" recipe != undefined && !edit">
  <div class="header">
    <h2 class="recipeName">{{recipe.name}}</h2>
    <div class="detailButtons">
      <i class="fas fa-edit" (click)="changeEdit()" id="editIcon" *ngIf="!edit"></i>
      <i class="fa-solid fa-trash" id="deleteIcon" (click)=deleteRecipe(recipe.id)></i>
    </div>
  </div>
  <div class="veggieVegan">
    <div class="vegan" *ngIf="getItsVegeterianVegan(recipe.ingredients)[1]">
      <i class="fa-solid fa-leaf"></i>
      <p>Vegan</p>
    </div>
    <div class="veggie"
      *ngIf="getItsVegeterianVegan(recipe.ingredients)[0] && !getItsVegeterianVegan(recipe.ingredients)[1]">
      <i class="fa-solid fa-leaf"></i>
      <p>Veggie</p>
    </div>
  </div>
  <p>{{recipe.description}}</p>
  <!--Ingredients-->
  <div class="ingredientsContainer" *ngIf="ingredientsRecipe != undefined">
    <h3 class="ingredientsTitle">Ingredients</h3>
    <ul *ngFor="let ingredient of ingredientsRecipe">
      <li (click)="goToIngredient(ingredient.id)">
        {{ingredient.name}} <span>{{getRecipeIngredientQuantity(ingredient.id)}} {{ingredient.measure}}</span>
      </li>
    </ul>
  </div>
  <!--Steps-->
  <div class="stepsContainer">
    <h3 class="stepsTitle">Steps</h3>
    <ol class="stepsList">
      <li *ngFor="let step of recipe.steps">
        <h4>{{step.title}}</h4>
        <p class="stepBody">{{step.body}}</p>
      </li>
    </ol>
  </div>

</div>
<!--Edit Recipe -->
<div class="mainContent" *ngIf="edit">
  <h2 class="recipeName">Recipe: {{recipeToEdit.name}}</h2>
  <label for="recipeName">Name:</label><br>
  <input type="text" name="recipeName" [(ngModel)]="recipeToEdit.name"><br>
  <label for="recipeDesc">Description</label><br>
  <textarea name="recipeDesc" rows="7" placeholder={{recipeToEdit.description}}
    [(ngModel)]=recipeToEdit.description></textarea>
  <div class="ingredientsContainer" *ngIf="ingredientsRecipe != undefined">
    <h3 class="ingredientsTitle">Ingredients</h3>
    <table class="ingredients">
      <tr id="header">
        <td>Name</td>
        <td>Type</td>
        <td>Vegetarian</td>
        <td>Vegan</td>
        <td>Quantity</td>
        <td>Delete</td>
      </tr>
      <tr *ngFor=" let ingredient of ingredientsRecipe" class="ingredient">
        <td>{{ingredient.name}}</td>
        <td>{{getType(ingredient.type)}}</td>
        <td>{{ingredient.vegetarian}}</td>
        <td>{{ingredient.vegan}}</td>
        <td>
          <input type="number" value="{{getRecipeToEditIngredientQuantity(ingredient.id)}}"
            (focusout)="addIngredientQuantity(ingredient.id,quant.value)" #quant>
          <span> {{ingredient.measure}}</span>
        </td>
        <td><i class="fa-solid fa-trash" id="deleteIcon" (click)="deleteIngredient(ingredient.id)"></i></td>
      </tr>
    </table>
    <div class="searchBar">
      <input class="bar" type="text" (keyup.enter)="filterBy(filter.value)" #filter>
      <i class="fas fa-search" (click)="filterBy(filter.value)"></i>
      <i class="fas fa-eraser" (click)="clearFilter()"></i>
    </div>

    <table class="ingredients">
      <tr id="header">
        <td>Name</td>
        <td>Type</td>
        <td>Vegetarian</td>
        <td>Vegan</td>
        <td>Add</td>
      </tr>
      <tr *ngFor=" let ingredient of ingredientsFiltered" class="ingredient">
        <td>{{ingredient.name}}</td>
        <td>{{getType(ingredient.type)}}</td>
        <td>{{ingredient.vegetarian}}</td>
        <td>{{ingredient.vegan}}</td>
        <td><i class="fas fa-plus-square" id="addIcon" (click)="addIngredient(ingredient.id)"></i></td>
      </tr>
    </table>
  </div>
  <!--Steps-->
  <div class="stepsContainer">
    <h3 class="stepsTitle">Steps</h3>
    <div class="stepsContainer" *ngFor="let step of recipeToEdit.steps">
      <label for="steptitle">Tittle</label><br>
      <input type="text" name="stepTitle" [(ngModel)]=step.title><br>
      <label for="stepBody">Body</label><br>
      <textarea name="stepBody" [(ngModel)]=step.body></textarea>
      <button (click)="deleteStep(step.id)">Delete</button>
    </div>
    <button (click)="addStepToRecipe()">Add step</button>
  </div>
  <button (click)="saveRecipe()">Save</button>
  <button (click)="changeEdit()">Cancel</button>
</div>