<div class="mainContent" *ngIf="ingredient">
  <h2>Ingredient</h2>
  <p>Veggie :{{ingredient.vegetarian}} Vegan :{{ingredient.vegan}}</p>
  <div class="ingredientDetailContainer">
    <div class="row1">
      <div class="nameContainer">
        <h3>Name</h3>
        <p>{{ingredient.name}}</p>
      </div>
      <div class="typeContainer">
        <h3>Type</h3>
        <p>{{getType(ingredient.type)}}</p>
      </div>
    </div>
    <div class="row2">
      <div class="descContainer">
        <h3>Description</h3>
        <p>{{ingredient.description}}</p>
      </div>
    </div>
    
    
    <button class="editButton" (click)="changeEdit()" *ngIf="!edit">Edit</button>
  </div>
  <!--Edit ingredient -->
  <div class="ingredientEditForm" *ngIf=" edit && ingredientToEdit ">
    <label for="ingredient-name">Name</label>
    <input type="text" name="ingredient-name" placeholder={{ingredientToEdit.name}} [(ngModel)]=ingredientToEdit.name>
    <label for="ingredient-type">Type</label>
    <select name="ingredient-type" id="" [(ngModel)]=ingredientToEdit.type>
      <option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</option>
    </select>
    <label for="ingredient-description">Description</label>
    <input type="text" name="ingredient-description" placeholder={{ingredientToEdit.description}}
      [(ngModel)]=ingredientToEdit.description>
    <label for="ingredient-vegetarian">Vegetarian</label>
    <input name="ingredient-vegetarian" type="checkbox" [(ngModel)]=ingredientToEdit.vegetarian>
    <label for="ingredient-vegan">Vegan</label>
    <input name="ingredient-vegan" type="checkbox" [(ngModel)]=ingredientToEdit.vegan>
    <button (click)="saveUpdateIngredient(ingredientToEdit)">Save</button><button
      (click)="changeEdit()">Cancel</button>
  </div>
</div>